<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit this review", edit_review_path(@review) %> |
  <%= link_to "Back to reviews", reviews_path %>

  <%= button_to "Destroy this review", @review, method: :delete %>

  <% if admin_user %>
    <br><%= link_to "Admin Home", admins_url %><br>
  <% elsif current_user %>
    <br><%= link_to "User Home", passengers_url %><br>
  <% end %>
</div>
