<div id="<%= dom_id train %>">
  <p>
    <strong>Trainnumber:</strong>
    <%= train.trainnumber %>
  </p>

  <p>
    <strong>Departurestation:</strong>
    <%= train.departurestation %>
  </p>

  <p>
    <strong>Terminationstation:</strong>
    <%= train.terminationstation %>
  </p>

  <p>
    <strong>Departuredate:</strong>
    <%= train.departuredate %>
  </p>

  <p>
    <strong>Departuretime:</strong>
    <%= train.departuretime %>
  </p>

  <p>
    <strong>Arrivaldate:</strong>
    <%= train.arrivaldate %>
  </p>

  <p>
    <strong>Arrivaltime:</strong>
    <%= train.arrivaltime %>
  </p>

  <p>
    <strong>Ticketprice:</strong>
    <%= train.ticketprice %>
  </p>

  <p>
    <strong>Traincapacity:</strong>
    <%= train.traincapacity %>
  </p>

  <p>
    <strong>Seatsleft:</strong>
    <%= train.seatsleft %>
  </p>

</div>
